<div class="book-authors">
  <%= link_to "Authors", path, :class => "load-authors" %><br>
  <strong></strong>
  <ul></ul>
</div>

<div class="book-genres">
  <%= link_to "Genres", path, :class => "load-genres" %><br>
  <strong></strong>
  <ul></ul>
</div>
<br>